<h2>Send me a message!</h2>
<br /><br />
<img class='topimgright' src='/img/contact.jpg' />
I&#39;d love to work on your project whether it&#39;s a web development project a backend server development project or you need some help setting up a severfarm or a workflow for encoding video or any othe development or operations task send me a message and let&#39;s talk about how I might be able to help! You can either use the form below or just send me an email at <a href='mailto:info@jimbarry.co'>info&#64;jimbarry.co</a>
<br /><br /> 
<form method="post" action="contact" id="contact-form">
   <p>
      <label>First Name:</label><BR />
      <input name="name" type="text" />
   </p>
   <p>
      <label>Email Address:</label><BR />
      <input style="cursor: pointer;" name="email" type="text" />
   </p>
   <p>
      <label>Message:</label><BR />
      <textarea name="message"></textarea>
   </p>
   <br />
   <div id='errdisp' style="color: red;font-weight: bold;"></div>
   <p>
      <input type="submit" value="Send" />
   </p>
</form>
<hr class="clr"/>